<!doctype html>
<html lang="en">
    <head>
        <title>Hello world from zoroaster!</title>
        <!--<link href="/dist/bundle.cs1s" rel="stylesheet">-->
        <link href="styles/app.css" rel="stylesheet">
        <link href="styles/tomorrow.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,400i" rel="stylesheet">
    </head>
    <body>
        <div class="table">
        <div class="left-column">
            {{ navigation }}
        </div>
        <div class="right-column">
            {{ content }}
        </div>
        </div>
        <footer>
            <a href="https://sobes.io" style="color: #C80815">Sobesednik Media</a> 2017
        </footer>
    </body>
    <script src="/dist/bundle.js"></script>
</html>
